
.page {
  background-color: white;

}

.header {
  display: flex;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  position: fixed;
  background-color: white;
  z-index: 5;
  align-items: center;
  height: 80px;
}

.box {
  display: flex;
  border: 1px black solid;
  max-width: 75%;
  align-items: center;
  flex-grow: 1;
}

.nav span {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  margin: 20px;
  padding-right: 10px;


}

 .title {
   color: MediumAquamarine;
 }

a:visited {
   color:black;
 }

 .logo {
   margin-right: 14px;
   height: 60px;
   width: 70px;
 }

.navigation {
  padding-right: 30px;

}

.content {
  display: inline-flex;
  height: 100%;
  width: 100%;
  font-family: Georgia;
  border-top: 1px black solid;
  margin-top: 100px;

}

.stories {
  display: flex;
  height: 100%;
  width: 1254px;
  border-bottom: 1px solid black;
  border-right:1px solid black;
  border-left:1px solid black;
  margin-left: 130px;
}

.column.large {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
  border: 2px black solid;
  height: 100%;
  margin: 20px 32px 50px 0px;

}

.tunastory {
  border: 1px black solid;
  font-weight: bold;
  font-size: 40px;
  height: 300px;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  margin-bottom: 30px;
}

.monument {
  border: 1px black solid;
  font-size: 17px;
  color: black;
}

.orcapuget {
  border: 2px black solid;
  border-bottom: 1px black solid;
}

.orca {
  font-size: 24px;
  font-weight: bold;
}

.puget {
  font-size: 17px;
  color: black;
}

.earth {
  border-bottom: 2px black solid;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  height: 300px;

}

.burgermewyork {
  font-size: 25px;
  font-weight: bold;
  border-top: 2px black solid;
  padding-bottom: 10px;
  padding-top: 10px;

}

.mewyork {
 font-size: 17px;
 }

.research {
  border-top: 1px 2px 2px 2px black solid;
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  height: 300px;
  margin-top: 15px;

}

.column.medium {
  width: 300px;
  display: inline-flex;
  flex-direction: column;
  border: black 3px solid;
  height: 100%;
  margin-right: 32px;
  margin-top: 20px;


}

.fbi {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fbistory {
  padding-bottom: 10px;
  border-bottom: black 2px solid;
}

.cats {
  font-size: 40px;
  border-bottom: 1px black solid;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  margin-top: 15px;
  height: 300px;
  color: white;
  font-weight: bold;
  text-align: center;
}




.brooklyn {
  padding-top: 10px;
  margin-bottom: 100%;
  border-bottom: 1px black solid;
}

.column.small {
  width: 240px;
  border: 1px black solid;
  height: 1144px;
  margin-top: 20px;
  margin-right: 32px;
  flex-direction: column;
  display: flex;
}

.cookie {
  border-bottom: 1px solid black;
}

.news {
  font-weight: bold;
  padding-top: 10px;
  text-align: left;
}

.emoji {
  padding-top: 10px;
  border-bottom: 1px black solid;
  text-align: left;
  margin-bottom: 100%;
}
